.app-page {
  display: flex;
  min-height: 100vh;
  background: #23272f;
  color: #fff;
}

.app-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.app-content.with-sidebar {
  margin-left: 60px; /* ширина icon-sidebar */
}

.app-main {
  flex: 1;
  background: #282c34;
  border-radius: 8px;
  padding: 20px;
  margin-top: 16px;
} 