.app-page {
  display: flex;
  min-height: 100vh;
  background: #23272f;
  color: #fff;
}

.app-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.app-content.with-sidebar {
  margin-left: 260px;
}

.app-content.without-sidebar {
  margin-left: 60px; /* Ширина IconSidebar */
}

.app-main {
  flex: 1;
  background: #282c34;
  border-radius: 8px;
  padding: 20px;
} 